
    <div class="page-padding">
      <div class="container-v2">
        <div class="collection-heading-text">
          <div class="tab-tagline header">
            <div class="text-12">{{ section.settings.tagline | newline_to_br }}</div>
          </div>
          <h1 class="page-h1">{{ section.settings.title | newline_to_br }}</h1>
          <div class="page-paragraph">{{ section.settings.paragraph | newline_to_br }}</div>
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","contact-header-section");</script>
        
{% schema %}
{
  "name": "V1 - Contact Header",
  "tag": "div",
  "class": "contact-header-section",
  "settings": [
    {
      "type": "textarea",
      "id": "tagline",
      "label": "Tagline",
      "default": "KUNNEN WIJ JE HELPEN?"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Neem contact op!"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Heb jij een vraag over jouw bestelling? Of wil je ons dolgraag vertellen hoe we jouw gezonde routine net wat leuker maken!? Laat het ons weten. Wij staan dagelijks voor jou paraat!Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    }
  ]
}
{% endschema %}